.clearfix:after {
     content: "."; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

body {
}

h1 {
	font-family: 'Merriweather', serif;
}

h2 {
	font-family: 'Merriweather', serif;
}

h3 {
	font-family: 'Lato', sans-serif;
}

ul {
	padding: 0;
}

a {
	font-weight: 600;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

p {
	font-weight: 400;	
	font-family: 'Lato', sans-serif;
}


/**********************************************************
GLOBAL ELEMENTS
***********************************************************/

.top-bar {
	color: #fff;
	padding: 10px;
	background-color: #282E73;
}

.top-bar p {
	margin: 0 auto;
	padding-left: 2%;
}

.main-bar {
	padding: 20px;
	background-color: #fff;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}

#logo {
	width: 300px;
}

.utility-nav {
	float: right;
	font-family: tahoma;
	display: inline-block;
}

.utility-nav ul li {
	float: right;
	padding-left: 20px;
	display: inline-block;
	list-style-type: none;
}

.utility-nav a {
	color: #272822;
	font-size: 14px;
	text-transform: uppercase;
}

.nav {
	display: inline;
}

.nav ul {
	margin-top: -40px;
	padding-bottom: 20px;
}

.nav ul li {
	float: right;
	padding-left: 40px;
	display: inline-block;
	list-style-type: none;

}

.nav a {
	color: #1B1F4B;
	text-transform: uppercase;
	transition: color .1s ease-out;
}

.nav a:hover {
	color: #272822;
}

.footer-top {
	background-color: #E8E8E8;
}

.footer .left {
	width: 33%;
	float: left;
}

.footer .left ul {
	margin: 20px;
	list-style-type: none;
}	

.footer .left .heading {
	font-family: "Merriweather", serif;
	margin-bottom: 8px;
	font-weight: 800;
	font-size: 18px;
}

.footer .left .wrapper {
	max-width: 250px;
}

.footer .middle {
	width: 33%;
	float: left;
	text-align: center;
}

.footer .middle img {
	max-width: 80%;
	margin: 20px;
}

.footer .right {
	width: 33%;
	float: left;
	text-align: right;
}

.footer .right img {
    padding-top: 20px;
}

.footer-bottom {
	padding: 5px;
	color: white;
	text-align: center;
	background-color: #2C328A;
}



/**********************************************************
INDEX.HTML
***********************************************************/`


/*hero***********************/

.hero {
  background-color: #ff00ff;
}

.hero .wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper .hero-text {
  width: 40%;
  float: left;
  text-align: right;
}

.wrapper .hero-img {
  width: 60%;
  float: left;
}

.hero-img img {
  width: 90%;
  float: right;
}



/*products***********************/

.message {
	background-color: #f2f2f2;
	border-radius: 3px;
}

.message p {
	padding: 10px;
}


.products .heading {
	text-align: center;
}
	
.products {
	padding: 40px;
}

.products .wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.products a {
	color: #272822;
}

.row {
	margin: 0 auto;
}

.category {
	width: 21%;
	float: left;
	padding: 20px;
	text-align: center;
}

.category img {
	width: 100%;
}

.see-all{
	height: 100px;
}

.button {
    color: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 200px;
    font-size: 16px;
    border-radius: 1px;
    text-align: center;
	letter-spacing: .02em;
    text-transform: uppercase;
    background-color: #0dbdbb;
    transition: all .2s ease-out;
	font-family: 'Lato', sans-serif;
}

.button:hover {
	cursor: pointer;
	background-color: #0d9cc8;
}


/**********************************************************
STORE.HTML
***********************************************************/


.contact-info ul li {
	list-style-type: none;
	font-family: 'Lato', sans-serif;
}

.hours ul li {
	list-style-type: none;
	font-family: 'Lato', sans-serif;
}

.store-img {
	display: inline-block;
}

.store-img img {
	max-width: 1200px;
	margin-top: 20px;
}




/**********************************************************
CATALOG.HTML
***********************************************************/

.container {
	margin: 0 auto;
	padding: 20px;
	max-width: 1200px;
}


.container h3 {
	font-size: 16px;
	padding-top: 20px;
	text-transform: uppercase;
	border-top: 2px solid #f2f2f2;
}

.column {
	display: inline-block;
	width: 24%;
}

.column li {
	margin: 5px;
	list-style-type: none;
}

.column ul {
	padding: 0;
}


/**********************************************************
MEDIA QUERIES
***********************************************************/

@media screen and (max-width: 4001px) {

	.mobile-menu {
		display: none;
	}

	.menu-open {
		display: none;
	}


}



@media screen and (max-width: 1024px) {


	.category {
		width: 29%;
	}


}


@media screen and (min-width: 769px) {

	.utility-mobile {
		display: none;
	}


}

@media screen and (max-width: 768px) {

	.products {
		padding: 5px;
	}

	.category {
		width: 28%;
	}

	/*Utility Nav***********************/

	.utility-nav {
		display: none;
	}

	.utility-mobile {
		background-color: #f2f2f2;
		padding: 10px 0;
	}
	
	.utility-mobile .call {
		width: 49%;
		display: inline-block;
		text-align: center;
		font-family: 'Lato', sans-serif;
	}

	.utility-mobile .directions {
		width: 49%;
		display: inline-block;
		text-align: center;
		border-left: 1px solid #272822;
		font-family: 'Lato', sans-serif;
	}

	.utility-mobile a {
		color: black;
	}


	/*pushdown nav**********************/	

	.nav {
		display: none;
	}

	.mobile-menu {
		float: right;
		margin-top: 50px;
		display: inline-block;	
	}
5
	.mobile-menu .wrapper {
		float: right;
		display: inline-block;
	}

	.line {
		height: 4px;
		width: 37px;
		margin: 6px;
		background-color: #00BAC9;
		background-color: #114C6F;
	}

	.mobile-menu:hover {
		cursor: pointer;
	}

	.mobile-menu:hover {
		cursor: pointer;
	}

	.mobile-menu .wrapper {
		float: right;
	}

	.line {
		height: 4px;
		width: 37px;
		margin: 6px;
		background-color: #2D2D2D;	
	}

	.menu-open {
		width: 100%;
		display: none;
		z-index: 1000;
		/*position: fixed;*/
	}	

	.menu-open:nth-child(2) {
    	border-bottom: 3px solid red;
	}	

	.nav-item {
		width: 100%;
		color: #000;
		padding: 10px 0;
		text-align: center;
		background-color: #FFF;
		border-top: 1px solid #f2f2f2;
	}

	.nav-item:hover {
		background-color: #f2f2f2;
	}

	.nav-item:active {
		background-color: #f2f2f2;
	}
	

}


@media screen and (max-width: 480px) {

	.products {
		padding: 5px;
	}

	.category {
		width: 41%;
	}


}

@media screen and (max-width: 479px) {



	.category {
		width: 46%;
		padding: 5px;
	}

	#logo {
		width: 75%;
	}

}





